article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
audio:not([controls]) { display: none; }
[hidden] { display: none; }

html { font-size: 100%; overflow-y: scroll; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }
body { margin: 0; font-size: 13px; line-height: 1.231; }
body, button, input, select, textarea { font-family: sans-serif; }

::-moz-selection { background: #4E95B9; color: #fff; text-shadow: none; }
::selection { background: #4E95B9; color: #fff; text-shadow: none; }

* :focus {outline:none}

a { color:#0077cc;text-decoration: none;border-bottom:1px solid #95c4e4;font-size:16px; outline:0;}
a:visited { color:#0077cc;outline:0; }
a:hover { color:#0077cc; border-bottom-color: transparent; outline:0;}
a:focus { outline: 0;}
a:hover, a:active { outline: 0; }

abbr[title] { border-bottom: 1px dotted; }
b, strong { font-weight: bold; }
blockquote { margin: 1em 40px; }
dfn { font-style: italic; }
hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }
ins { background: #ff9; color: #000; text-decoration: none; }
mark { background: #ff0; color: #000; font-style: italic; font-weight: bold; }
pre, code, kbd, samp { font-family: monospace, monospace; _font-family: 'courier new', monospace; font-size: 1em; }
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }
q { quotes: none; }
q:before, q:after { content: ""; content: none; }
small { font-size: 85%; }
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }
ul, ol { margin: 1em 0; padding: 0 0 0 40px; }
dd { margin: 0 0 0 40px; }
nav ul, nav ol { list-style: none; list-style-image: none; margin: 0; padding: 0; }
img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; }
svg:not(:root) { overflow: hidden; }
figure { margin: 0; }

form { margin: 0; }
fieldset { border: 0; margin: 0; padding: 0; }
label { cursor: pointer; }
legend { border: 0; *margin-left: -7px; padding: 0; }
button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }
button, input { line-height: normal; *overflow: visible; }
table button, table input { *overflow: auto; }
button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; }
input[type="checkbox"], input[type="radio"] { box-sizing: border-box; }
input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }
input[type="search"]::-webkit-search-decoration { -webkit-appearance: none; }
button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }
textarea { overflow: auto; vertical-align: top; resize: vertical; }
input:valid, textarea:valid {  }
input:invalid, textarea:invalid { background-color: #f0dddd; }

table { border-collapse: collapse; border-spacing: 0; }
td { vertical-align: top; }


/* ==|== primary styles =====================================================
   Authors: Olenchikys, Soul_man
   ========================================================================== */

/*default blocks*/
div.clear {clear:both;height:0px;font-size:0px;}

input[type="text"], input[type="password"], input.string {
    border:1px solid #9f9f9f;
    box-shadow:inset 0 1px 0px 0 #9f9f9f;
    padding:5px 10px 4px;
    font-size:16px;
    width:355px;
    color:#000;
    border-radius:5px;
    -moz-border-radius:5px;
    -o-border-radius:5px;
    -webkit-border-radius:5px;
    -khtml-border-radius:5px;
    -ms-border-radius:5px;
}

textarea {
    color: #000000;
    font-size: 16px;
    height: 81px;
    line-height: 160%;
    overflow-y: scroll;
    padding-left: 8px;
    padding-top: 5px;
    resize: none;
    width: 100%;
}

label {
    color:#666666;
    font-size:13px;
    font-style:italic;
}

button, a.button {
    position:relative;
    font: 16px Arial, serif;
    color:#FFF;
    border:none;
    padding:6px 10px 5px;
    text-shadow:0px 2px 0 #005999;
    background: url(../images/button_bg.png) repeat-x 0 0;
    border-radius:5px;
    -moz-border-radius:5px;
    -o-border-radius:5px;
    -webkit-border-radius:5px;
    -khtml-border-radius:5px;
    -ms-border-radius:5px;
}

button:active {
    top:1px;
    left:1px;
}

em {
    color:#666666;
    font-size:13px;
    font-style:italic;
}

.inline-block {
    display:inline-block;
}

.wrapper {
    background: url(../images/wrapper.png) repeat-x 0 0;
    padding:2px;
    border-radius:5px;
    -moz-border-radius:5px;
    -o-border-radius:5px;
    -webkit-border-radius:5px;
    -khtml-border-radius:5px;
    -ms-border-radius:5px;    
}

  #navi ul li {list-style:none;display:inline;padding-right:8px;}
  #navi ul li a {color:#0077cc;font-size:16px;text-decoration:none;border-bottom:1px solid #b2d6f0;}
  #navi ul li a.last i {}
  #navi ul li a:hover {border:none;}
  #navi ul li span {border:none;color:#666666;font-size:16px;}
  #navi ul {padding-left:0px;margin:0;}
  #navi {margin:0 20px;}

.no-lt {border-top-left-radius: 0 !important;}
.no-rt {border-top-right-radius: 0 !important;}
.no-rb {border-bottom-right-radius: 0 !important;}
.no-lb {border-bottom-left-radius: 0 !important;}
.fleft {float:left;}
.fright {float:right;}

/*main content. Main page*/
html, body {height:100%;font:14px Arial, sans-serif;background: #bed9e6;}
.main-block {
    min-height:100%;
    position:relative;
    min-width:900px;
    padding-bottom:40px;
}
* html #index,* html #inner {height:100%}

.errors {
    background: #FFE8E8;
    padding:20px;
    margin:10px;
    border:2px solid #EDA3A3;
    border-radius: 10px;
}
.errors ul {
    list-style: none;
    padding:0;
    margin:0;
}
.errors ul li {
    color:#470000;
    padding:0px;
    margin:2px 0px;
}
.eksk-form {
}

.eksk-form .label {
    text-align:right;
    vertical-align: middle;
    padding:0 5px 10px 0;
}
.eksk-form .field {
    text-align:left;
    vertical-align: middle;
    padding:0 0 10px 0;
}

.header {
    position:relative;
    z-index:1;
    background:url(../images/header_bg.png) repeat-x left top;
    height:50px;
    padding: 0 0 16px;
    margin-bottom:9px;
}

.header h1 {
    color:#000;
    font-size:24px;
    text-align:center;
    font-weight: bold;
    padding:8px 10px;
    margin:0;
}
.header form {
    padding:8px 10px;
}

.header .user-block {
    padding:15px 20px 0 0;
}
.header a.quit {
    margin:0 10px 0;
    border:none;
}
.header a.user {
    margin-top:-2px;
}

.separator {
    display: inline-block;
    font-size: 0px;
    line-height: 0;
    width:2px;
    height:50px;
    background:url(../images/separator.png) no-repeat left 50%;
}

.left_menu {
    width:180px;
    float:left;
/*    position:absolute;
    left:-200px;
    top:0px;*/
}

.left_menu .menu_item {
    background: url(../images/menu.png) no-repeat;
    display:block;
    border-bottom:none;
    text-align: center;
    margin-bottom:18px;
    padding-top:111px;
    position:relative;
}
.left_menu .menu_item b {
    background: url("../images/red.png") repeat-x 0 0;
    border: 2px solid #FFFFFF;
    box-shadow: -1px 1px 1px 1px #9DC3D7;
    color: #FFFFFF;
    font-size: 18px;
    padding: 0 6px;
    position: absolute;
    right: 30px;
    top: 0;    
    border-radius: 15px;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    -o-border-radius: 15px;
    -ms-border-radius: 15px;
    -khtml-border-radius: 15px;
}
/*********
Active/Passive buttons
*********/
.left_menu a.menu_item {background-position:0px 0px;}
.left_menu span.menu_item {background-position:0px -130px;}

.left_menu a.menu_item.notify {background-position:0px 0px;}
.left_menu span.menu_item.notify {background-position:0px -130px;}

.left_menu a.menu_item.profile {background-position:-180px 0px;}
.left_menu span.menu_item.profile {background-position:-180px -130px;}

.left_menu a.menu_item.ksk {background-position:-360px 0px;}
.left_menu span.menu_item.ksk {background-position:-360px -130px;}

.left_menu a.menu_item.users {background-position:-540px 0px;}
.left_menu span.menu_item.users {background-position:-540px -130px;}

.left_menu a.menu_item.admins {background-position:-720px 0px;}
.left_menu span.menu_item.admins {background-position:-720px -130px;}

.left_menu a.menu_item.message {background-position:-900px 0px;}
.left_menu span.menu_item.message {background-position:-900px -130px;}

.left_menu a.menu_item.themes {background-position:-1080px 0px;}
.left_menu span.menu_item.themes {background-position:-1080px -130px;}

.left_menu a.menu_item.questions {background-position:-1260px 0px;}
.left_menu span.menu_item.questions {background-position:-1260px -130px;}

.left_menu a.menu_item.analytics {background-position:-1440px 0px;}
.left_menu span.menu_item.analytics {background-position:-1440px -130px;}

.left_menu a.menu_item.stats {background-position:-1620px 0px;}
.left_menu span.menu_item.stats {background-position:-1620px -130px;}
/*********
Active/Passive buttons
*********/

.left_menu a.menu_item span {
    border-bottom:1px solid #95c4e4;
}
.left_menu span.menu_item span {
    color:#000;
    font-size:16px;
    border-bottom:1px solid transparent;
    text-shadow: 0 1px 0 #FFF;
}
.left_menu .menu_item:hover span {
    border-bottom-color:transparent;
}
.body {
    height:100%;
    padding-bottom:40px;
    position:relative;
    margin:0px 10px 90px 10px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -khtml-border-radius: 10px;
    -o-border-radius: 10px;
    -ms-border-radius: 10px;
}
.user.login .body {
    margin:0px 110px 140px;
    height:auto;
}
.user.login .eksk-wnd, .eksk-wnd.login {
    margin:0 auto;
}

.eksk-wnd .head em {
    float:right;
    margin-top:7px;
}

.content .avaplace {
    float:left;
    width:233px;
    margin:20px;
}
.content .avaplace img {
    margin:0 0 20px 0;
}
.content .main_info {
    margin:0 0 0 273px;
}
.content .main_info table{
    width:100%;
}
.content .main_info table td.one{
    width:69px;
}
.content .main_info table td h4{
    color: #000000;
    font-size: 16px;
    margin: 0;    
}
.content .main_info table td{
    padding:11px 0 9px;
    border-bottom:1px dotted #CCCCCC;
    /*height:40px;*/
    /*vertical-align: middle;*/
}
.content .main_info table tr.no-border td{
    border-bottom:none;
}
.content .main_info table td.map{
    padding:0;
}
.content .main_info table td.map .map_image{
    padding:11px 0 9px;
}
.content .main_info table td span{
    font-size:16px;
}
.content .main_info table td em{
    padding:1px 0 0 0;
    display:inline-block;
}
.content .main_info .map_link{
    border: medium none;
    display: block;
    margin-top: 5px;    
}
.content .main_info .map_link i{
    display:inline-block;
    width:0;height:0;font-size:0;
    border:4px solid transparent;
    border-left-color: #0077CC;
    position:relative;
    top:-4px;
    left:7px;
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform-origin: 2px 50%;
    -webkit-transform-origin: 2px 50%;
    transition: transform 0.5s;
    -webkit-transition: -webkit-transform 0.5s;
}
.content .main_info .map_link.active i{
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    transition: transform 0.5s;
    -webkit-transition: -webkit-transform 0.5s;
}
.content .main_info .map_link span{
    border-bottom:1px dotted #0077CC;
}
.content .main_info .map_link:hover span{
    border-bottom-color: transparent;
}

  div.table_faq div.bg_form {background:url(../images/st.png) repeat-x;padding-top:1px;padding-left:2px;padding-bottom:2px;padding-top:2px;width:100px;
  margin-left:3px;
  margin-bottom:11px;
  display:inline-block;
 -moz-border-radius: 6px;
-opera-border-radius:6px;
-o-border-radius:6px;
border-radius: 6px;
behavior:url(/PIE.htc);float:left;}

/***
Messages
***/
.message .eksk-wnd .content {margin:0px;}
.message_block div.left_side {display:inline-block;width:109px;vertical-align: top;} 
.message_block div.right_side {display:inline-block;margin-top:2px;vertical-align: top;} 
.message_block div.right_side p {margin-top:0px;font-size:16px;color:#000000;word-break: break-all;word-wrap:break-word;} 
.message_block div.middle_side a {color:#0077cc;font-size:16px;font-family:Arial,sans-serif;text-decoration:none;border-bottom:1px solid #9ac7e6;}
.message_block div.middle_side a:hover {border:none;}
.message_block div.middle_side i {color:#666666;font-size:13px;display:inline-block;margin-top:7px;}
.message_block div.middle_side {width:124px;display:inline-block;margin-top:2px;vertical-align: top;}
.message_block .wrapper {display:inline-block}
.message_block .wrapper .button {display:inline-block}
.message_block.unread {background:#ddeaf1;border-bottom:1px solid #c5d1d8;}  
.message_block.unread div.inside_block {border:none;}
.message_block  {padding:0px 20px;margin-top:1px;min-height:118px;background:#fff;transition: background 1s;-webkit-transition: background 1s;display:block;text-decoration: none;}
.message_block  div.inside_block {border-bottom:1px dotted #cccccc;padding:8px 0px;}

span#user_to {position:relative;top:-5px;font-size: 16px;}
div.att_files i {color:#666666;font-size:13px;} 
div.att_files {float:left;margin-left:20px;} 
span.file_link {white-space:nowrap;margin-right:10px;}
div.att_files a,span.file_link a {color:#0077cc;font-size:13px;text-decoration:none;border-bottom:1px solid #b2d6f0;}
div.att_files a:hover, span.file_link a:hover {border:none;}
span.file_link a.red_cross {border:none;background:url(../images/pic3.jpg) no-repeat 0px 6px;margin-left:5px;}
div.fix_links {width:233px;line-height:160%;padding:0px 8px;}
div.faq_right {float:right;position: relative;}
div.faq_right a {color:#0077cc;font-size:13px;text-decoration:none;border-bottom:1px dotted #0077cc;}
div.faq_right a:hover {border:none;}

.faq_right iframe {
    width:0px;
    height:0px;
    position:absolute;
    left:-9999px;
    opacity: 0;
}
.faq_right input.file {
    cursor: pointer;
    left: 0;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    -khtml-opacity: 0;
    -moz-opacity: 0;
    position: absolute;
    top: 0;    
}

/***
Administrators list
 ***/
.eksk-wnd .content{
    margin:20px;
}
.user.admins .eksk-wnd .content .stats{
    font-size:16px;
    font-weight: bold;
    margin-bottom:20px;
}
.eksk-wnd .content .admin-list{
    width:100%;
}
.eksk-wnd .content .admin-list td{
    padding:10px 0;
    border-top:1px dotted #ccc;
}
.eksk-wnd .content .admin-list tr:last-child td{
    border-bottom:1px dotted #ccc;
}
.eksk-wnd .content .admin-list td.ava{
    width:100px;
    padding-right:10px;
}
.eksk-wnd .content .admin-list td.ops{
    text-align:right;
}
.eksk-wnd .content .admin-list td.ops a{
    display:block;
    border-bottom:none;
    margin-bottom:15px;
}
.eksk-wnd .content .admin-list td.ops a span{
    border-bottom:1px solid #95c4e4;
}
.eksk-wnd .content .admin-list td.ops a:hover span{
    border-bottom-color: transparent;
}

.eksk-wnd .content .search-results {
    width:100%;
    margin-top:20px;
}
.eksk-wnd .content .search-results td.fc{
    padding-right:30px;
}
.body:after {
    content:" ";
    display:block;
    clear:both;
}
.shadow {
    height:55px;
    position:absolute;
    bottom:-54px;
    left:0px;
    width:100%;
}
.shadow em {
    display:block;
    background: url(../images/shadow.png) repeat-x 0 0;
    margin:0 65px;
    height:55px;
}
.shadow i {
    display:block;
    float:left;
    background: url(../images/shadow.png) no-repeat left bottom;
    width:60px;
    height:55px;
    margin-left:5px;
}
.shadow b {
    display:block;
    float:right;
    background: url(../images/shadow.png) no-repeat right bottom;
    width:60px;
    height:55px;
    margin-right:5px;
}
* html .body {
height:1px;
}

.eksk-wnd {
    background:#fff;
    position:relative;
    margin:0 0 0 200px;
    border-radius: 10px;
    padding:0 0 30px 0;
    max-width:780px;
    height:100%;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -khtml-border-radius: 10px;
    -o-border-radius: 10px;
    -ms-border-radius: 10px;    
}
.eksk-wnd .head {
    background:url(../images/wnd_header_bg.png) repeat-x 0 0;
    padding:13px 20px;
    height:31px;
    border-radius: 10px 10px 0 0;
    -webkit-border-radius: 10px 10px 0 0;
    -moz-border-radius: 10px 10px 0 0;
    -khtml-border-radius: 10px 10px 0 0;
    -o-border-radius: 10px 10px 0 0;
    -ms-border-radius: 10px 10px 0 0;    
}
.eksk-wnd .head h1.center {
    text-align:center;
}
.eksk-wnd .head h1 {
    color:#000;
    font-size:24px;
    font-weight: bold;
    padding:0;
    margin:0;    
}
.eksk-wnd .head .buttons{
    float:right;
}
.user.login .eksk-wnd .content {
    width:550px;
    margin:20px auto;
}

.footer {
    position:absolute;
    left:0px;
    bottom:0;
    width:100%;
    height:115px;
}


.footer footer {
    margin:0 0 0 200px;
    max-width:760px;
}
.user.login .footer footer {
    margin:0 auto;
}
.footer table{
    width:100%;
}

.footer .devby {
    text-align:right;
}
.footer .devby a{
    border: none;
}
.footer-links a {
    font-size:13px;
    margin:0 20px 0 0;
}
.footer-links span {
    margin:0 20px 0 0;
}
.footer-links.langs a, .footer-links.langs span {
    margin:0 4px 0 0;
}
.footer .copyright {
    color:#666666;
    font-size:11px;
    margin:15px 0 0 0px;
}



/***************
fcselect Classes
***************/
.select{
    display:inline-block;
    position:relative;
    border:1px solid #9f9f9f;
    box-shadow:inset 0 1px 0px 0 #9f9f9f;
    padding:5px 20px 4px 10px;
    font-size:16px;
    width:355px;
    background: url(../images/select_arows.gif) no-repeat right 50% #FFF;
    color:#000;
    border-radius:5px;
    cursor:pointer;
    -moz-border-radius:5px;
    -o-border-radius:5px;
    -webkit-border-radius:5px;
    -khtml-border-radius:5px;
    -ms-border-radius:5px;    
}
.options {
    position:absolute;
    left:0px;
    background: #FFF;
    border-radius:0 0 5px 5px;
    width:100%;
    border:1px solid #9f9f9f;
    box-shadow: 0 1px 2px 0 #9f9f9f;
    z-index:10;
}

.option {
    padding:5px;
}
.option.active{
    background: #FAFCFD;
}
.option:hover {
    background: #9f9f9f;
}

/***************
runWindow Classes
***************/
.mywnd .eksk-wnd {
    height:auto;
}
.mywnd {
    position:absolute;
    z-index:555;
    left:0;
    top:0;
}
.show_wnd {
    background:#fefefe;
    border:2px solid #295039;
    border-radius:5px;
}
.dialog_title {
    border-bottom:1px solid #295039;
    padding:4px 20px 4px 7px;
    font:bold 12px Arial, sans-serif;
    position:relative;
}
.closeLink {
    color:#295039;
    position:absolute;
    right:4px;
    top:50%;
    margin-top:-12px;
    font-size:20px;
    text-decoration: none;
}

.dialog_content {
    padding:10px;
}

.show_wnd button {
    margin-left:9px;
}

.blackscreen {
    position:fixed;
    left:0px;
    top:0px;
    background: #000;
    width:100%;
    height:100%;
    z-index:554;
    opacity:0.4;
}

 /* ==|== non-semantic helper classes ============;============================ */
.ir { display: block; border: 0; text-indent: -999em; overflow: hidden; background-color: transparent; background-repeat: no-repeat; text-align: left; direction: ltr; }
.ir br { display: none; }
.hidden { display: none !important; visibility: hidden; }
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }
.invisible { visibility: hidden; }
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }


/* ==|== media queries ====================================================== */

@media only screen and (min-width: 480px) {


}

@media only screen and (min-width: 768px) {

}

@media all and (-webkit-min-device-pixel-ratio:0) {
  /*здесь стили для хрома*/
}



/* ==|== print styles ======================================================= */
 
@media print {
  * { background: transparent !important; color: black !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; } 
  a, a:visited { text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; } 
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; }
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3 { page-break-after: avoid; }
}
  